@import url('/global.css');
.review-panel { display: flex; flex-direction: column; gap: 1.2rem; }


/* --- VISOR PDF --- */
.preview-side {
    background: var(--white);
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px var(--shadow-brand-overlay);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 150px;
    height: calc(100vh - 160px);
    border: 1px solid var(--border);
    overflow: hidden;
}

.viewer-header { background: #1e293b; color: var(--blanco-blanco); padding: 0.9rem 1.5rem; font-size: 0.95rem; font-weight: 600; }
.pdf-content { flex: 1; background: var(--toggle-off); display: flex; align-items: center; justify-content: center; }
.pdf-content iframe { width: 100%; height: 100%; border: none; }

.bottom-actions {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-end;
    gap: 1.5rem;
    padding-bottom: 3rem;
}
.btn-footer { padding: 1.2rem; border-radius: 1rem; border: none; font-weight: 800; font-size: 0.95rem; cursor: pointer; text-transform: uppercase; }
.btn-blue { background: var(--info); color: var(--white); }
.btn-green { background: var(--primary); color: var(--white);} 

@media (max-width: 768px) {
    .bottom-actions{
        padding: 0;
        width: 100%;
    }
    .btn-footer{
        padding: .9rem;
        width: 100%;
    }
}


