/*:root{
    --primary: #1A8C14;
    --primary-dark: #136b10;
    --primary-light: #e8f5e9;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border: #d1d5db;
    --white: #ffffff;
    --bg-input: #f8fafc;
    --error: #ef4444;
    --success: #10b981;
    --infoA: #e8dc0a;
}*/
