:root{
    --primary: #1A8C14;
    --primary-dark: #136b10;
    --primary-light: #e8f5e9;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border: #d1d5db;
    --white: #ffffff;
    --bg-input: #f8fafc;
    --error: #ef4444;
    --success: #10b981;
    --infoA: #e8dc0a;
}
/*========================= Titulo =========================================================0*/
.page-intro {
    margin-bottom: 1.5rem;
    border-left: 5px solid var(--primary);
    padding-left: 1.5rem;

    position: sticky;

    top: 123px;

    background: var(--bg);
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 997;
    width:95%;
    margin:0.75rem 3rem;
    /* box-shadow: 0 10px 15px -15px rgba(0,0,0,0.1);*/
}

.page-intro h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--primary-dark);
    margin: 0;
}

.page-intro p {
    font-size: 0.95rem;
    color: var(--text-muted);
    margin-top: 0.25rem;
}
/* ====================================== Aletra modal =========================================*/
#global-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: var(--white);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 500px;
    height:250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*#modal-icon{
}*/
/* Animacion del icono */
@keyframes scaleIn {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal-svg {
    display: block;
    margin: 0 auto;
    width:80px;
    height:80px;
    transition: transform 0.3s ease;
    animation: scaleIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-svg:hover {
    transform: scale(1.1);
}

.icon-error {
    color: var(--error);
}

.icon-success {
    color: var(--success);
}

.icon-info {
    color: var(--infoA);
}

#modal-title{
    padding: 10px;
    text-transform: uppercase;
}

#modal-msg{
    padding: 20px;
}
.modal-btn {
    width: 75%;
    padding: 10px;
    margin-bottom:10px;
    border: none;
    border-radius: 6px;
    background: var(--primary);
    color: white;
    cursor: pointer;
}
/*============================= Card =======================================================*/
.doc-body-flex {
    display: flex;
    align-items: stretch; /* Para que todas midan lo mismo de alto */
    justify-content: space-between;
    gap: 20px;
    padding: 15px 0;
    margin:1rem;
}

.column-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0; /* Evita que el texto largo rompa la columna */
}

/* El ojito y el texto de ver documento */
.view-document-btn {
    margin-top: 8px;
    color: #2e7d32;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}