@import url('/global.css');
header {
    background: linear-gradient(135deg, var(--primary) 0%, var(--primary-dark) 100%);
    padding: 0.7rem 3rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* AJUSTES PARA DEJARLO ESTÁTICO ARRIBA */
    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 4px 12px var(--shadow-md);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.logo-group{
    display: flex;
}
.school-logo {
    display: flex;
    align-items: center;
}

.school-logo-img {
    height: clamp(3rem, 4rem, 5rem);
    width: clamp(5rem, 10rem, 11rem);
}
.header-brand { display: flex; align-items: center; gap: 1.5rem; }
.logo-box {
    display: flex; align-items: center; gap: 0.75rem;
    background: var(--shadow-brand-overlay); padding: 0.4rem 0.8rem;
    border-radius: 10px; backdrop-filter: blur(10px);
}
.logo-img { height: 40px; filter: brightness(0) invert(1); }
.title-box h1 { font-size: 1.25rem; font-weight: 800; margin: 0; }
.title-box p { font-size: 0.7rem; opacity: 0.9; margin: 0; }

/* PÍLDORA Y BOTÓN SALIR */
.user-actions { 
    display: flex; 
    align-items: center; 
    gap: 0.8rem;
    margin: 0 10rem 0 0; 
}
.user-pill {
    display: flex; align-items: center; gap: 0.75rem; background: var(--white);
    padding: 0.4rem 1rem; border-radius: 50px; color: var(--primary-dark);
    cursor: pointer; box-shadow: 0 4px 6px var(--shadow-brand-UserPill); transition: transform 0.2s;
}
.user-pill:hover { transform: scale(1.03); }
.user-pill span { font-weight: 700; font-size: 0.9rem; text-transform: capitalize; }
.user-avatar { width: 30px; height: 30px; background: var(--primary); color: var(--white); border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; }

.btn-logout {
    background: var(--shadow-brand-btnLogo); border: 1px solid var(--shadow-brand-btnLogo2);
    color: var(--white); width: 40px; height: 40px; border-radius: 50%; cursor: pointer;
    display: flex; align-items: center; justify-content: center; transition: 0.2s;
}
.btn-logout:hover { background: var(--btn-salir); border-color: var(--btn-salir); transform: scale(1.1); }

@media (max-width: 850px) {
    header {
        padding: 1rem;
        flex-direction: row;
        gap: 1rem;
        text-align: center;
    }
    .header-brand{display:none;}
    /*.logo-group{display:none;}*/
    .user-actions { 
        width: 100%;
        justify-content: end;  
        margin: 0; 
    }
    .school-logo-img {
    height: clamp(1rem, 3rem, 5rem);
    width: clamp(2rem, 5rem, 11rem);
}

}
