@import url('/global.css');
.doc-review-card {
    background: var(--white);
    border-radius: 1.2rem;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    transition: all 0.2s;
}

.card-revisado { border-left: 6px solid var(--success); background: var(--white); }
.card-sin-doc { opacity: 0.6; background: var(--bg-input); border-left: 6px solid var(--border-color); }
.card-cargado { border-left: 6px solid var(--info); }
.card-error { border-left: 6px solid var(--error); }

.doc-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2rem;
    background-color: var(--white);
}

.doc-name { font-weight: 800; font-size: 1.05rem; }
.doc-date { font-size: 0.75rem; color: var(--text-muted); display: flex; align-items: center; gap: 0.3rem; margin-top: 0.3rem; }

.btn-view {
    background: var(--primary-light);
    color: var(--black);
    border: 1.5px solid var(--primary);
    padding: 0.5rem 1.2rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
}

.status-actions { display: flex; gap: 1rem; margin-bottom: 1rem; }

.action-label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 700;
    background: var(--bg-alternative);
    color: var(--text-main);
    transition: all 0.2s;
}

input[type="radio"] { display: none; }
.opt-ok:has(input:checked) { background: var(--success); color: var(--white); border-color: var(--success); }
.opt-err:has(input:checked) { background: var(--error); color: var(--white); border-color: var(--error); }

.comment-area {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border-color);
    font-size: 0.9rem;
    min-height: 80px;
    outline: none;
    background: var(--bg-alternative);
    color: var(--text-main);    
}

.locked-badge {
    background: var(--success);
    color: var(--blanco-blanco);
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
}

/*Operador subirr archivo*/
.upload-zone-operador {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}

.btn-select-file {
    cursor: pointer;
    width: 100%;
    background-color: var(--primary);
    color: var(--blanco-blanco);
    padding: .6rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

/*Boton Guardar cambios de la tarjeta carta presentacion*/
.btn-submit{
    background-color: var(--primary);
    padding: .7rem;
    border-radius: .5rem;
    color: var(--text-main);
    margin-left: 27rem;

}