/*========================= Titulo estatico ejemplo: Registro de cartad =========================================================0*/
.page-intro {
    margin-bottom: 1.5rem;
    border-left: 5px solid #136b10;
    padding-left: 1.5rem;

    position: sticky;

    top: 123px;

    background: var(--bg);
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 997;
    width:95%;
    margin:0.75rem 3rem;
    /* box-shadow: 0 10px 15px -15px rgba(0,0,0,0.1);*/
}

.page-intro h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: #136b10;
    margin: 0;
}

.page-intro p {
    font-size: 0.95rem;
    color: #6b7280;
    margin-top: 0.25rem;
}